<!DOCTYPE html>
<html>
<head>
	<title>Curriculum Vitae</title>
	<meta charset="utf-8">
	<link rel="icon" href="stylesheets/curriculum.jpg">
	<link rel="stylesheet" type="text/css" href="style.css">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Curriculum Vitae</h1>
	<img src="stylesheets/gabriel.jpg" class="imagen">
	<br>
	<h2>Jose Gabriel Toro Seijas</h2>
	<div class="datos-personales">
	<h3 class="datos-personales__h3">DATOS PERSONALES</h3>
	<p class="datos-personales__parrafo">
		<b>Nombres:</b> Jose Gabriel
		<br>
		<b>Apellidos:</b> Toro Seijas
		<br>
		<b>Cedula de Identidad Nº:</b> 27.695.774
		<br>
		<b>Nacionalidad:</b> Venezolano
		<br>
		<b>Lugar de Nacimiento:</b> San Juan de los Morros, Municipio Juan German Roscio, Estado Guarico
		<br>
		<b>Fecha de Nacimiento:</b> 18 de Agosto de 2000
		<br>
		<b>Estado Civil:</b> Soltero
		<br>
		<b>Direccion de Domicilio:</b> Sector la Morera, Calle Union Nº32, San Juan de los Morros,
		Municipio Juan German Roscio, Estado Guarico
	</p>
	</div>
	
	<div class="redes-sociales">
		<hr>
		<h3 class="redes-sociales__h3">REDES SOCIALES</h3>
		<img src="public/stylesheets/gmail.png" class="gmail"><b>josegtoro10@gmail.com</b>
		<br>
		<img src="public/stylesheets/whatsapp.jpg" class="whatsapp"><b>+584124765054</b>
		<br>
		<img src="public/stylesheets/facebook.png" class="facebook"><a href="https://www.facebook.com/josegabriel.toro.56">josegabriel.toro.56</a>
		<br>
		<img src="public/stylesheets/instagram.jpg" class="instagram"><a href="https://www.instagram.com/josegabriel.toro/">josegabriel.toro</a>
		<hr>
	</div>
	<div class="datos-academicos">
		<h3 class="datos-academicos__h3">DATOS ACADEMICOS</h3>
		<p>
			2002-2006.<b>Educacion Inicial.</b>Preescolar "Los Llaneritos", San juan de los Morros,
			Estado Guarico.
			<br><br>
			2006-2012.<b>Educacion Basica.</b>Unidad Educativa "Gabriela Mistral", San Juan de los Morros, Estado Guarico.
			<br><br>
			2012-2017.<b>Educacion Media General.</b>Unidad Educativa "Gabriela Mistral", San Juan de los Morros, Estado Guarico.<b>Titulo Obtenido:</b> Bachiller en Ciencias.
			<br><br>
			2020-Actualmente.<b>Educacion Superior.</b>Universidad Nacional Experimental de los Llanos Centrales Romulo Gallegos, San Juan de los Morros, Estado Guarico. En la Carrera de Ingeniera en Informatica.
		</p>
		<hr>
	</div>

	<div class="cursos">
		<h3 class="cursos__h3">CURSOS</h3>
		<p class="cursos__parrafo">
			<b>Curso de Matematica Financiera.</b>Centro Empresarial Tecnico de Petroleo y Gas, San Juan de los Morros, Estado Guarico. 24Horas, 2020.
			<br><br>
			<b>Curso de Impuesto Sobre La Renta.</b>Centro Empresarial Tecnico de Petroleo y Gas, San Juan de los Morros, Estado Guarico. 24Horas, 2020.
		</p>
	</div>

	<div class="experiencia">
			<h3 class="experiencia__h3">EXPERIENCIA LABORAL</h3>
		<p class="experiencia__parrafo">
			Ventas
			<br>
			Atencion al Publico.
		</p>

	</div>

	<div class="referencias">
		<hr class="referencia__hr">
		<h3 class="referencias__h3">REFERENCIAS PERSONALES</h3>
		<p class="referencias__parrafo">
		   Luis Camacho. Telefono: +584243568661
			<br>
			Fernando Reyes. Telefono: +584123566375
		</p>
	</div>

<body>
</html>
