<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <p>Jose Gabriel Toro</p>
    <br>
    <p>C.I:27.695.774</p>
    <br>
    <p>Seccion: 3</p>
  </body>
</html>
